{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" />
    <link rel="stylesheet" href="{% block css %} {% endblock %}" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-lg-flex" id="navbarNavAltMarkup">
          <a class="navbar-brand col-lg-3 me-auto">Project Manager </a>
          <div class="navbar-nav col-lg-6 justify-content-lg-center">
            <a class="nav-link active" aria-current="page" href="{% url "projectall" %}">Projects</a>
            <a class="nav-link" href="#">Workload</a>
          </div>
          <div class="d-lg-flex col-lg-3 justify-content-lg-end dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{user.username}}
            </button>
            <ul class="dropdown-menu dropdown-menu-lg-end" data-bs-display="static">
              <li><a class="dropdown-item" href="/logout">Logout</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <main class="container mt-4">{% block body %} {% endblock %}</main>
    <script
      src="{% static "js/bootstrap.bundle.min.js" %}"></script>
    ></script>
  </body>
</html>
