{% extends "base.html" %}
{% load static %}

{% block title %} Project Manager {%endblock %}
{% block css %} {% static "css/index.css" %} {% endblock %}

{% block body %}
<h2>New Project</h2>

<form class="my-4" method="POST" novalidate>
  {% csrf_token %}
  <fieldset class="border p-3 rounded">
    <h4>Basic Info</h4>
    <hr />
    <div class="row mb-3">
      <label for="{{ form.ord.id_for_label }}" class="col-form-label fw-bold col-sm-2"
        >ORD</label
      >
      <div class="col-sm-10">
        {{ form.ord }}
        {% if form.ord.errors %}
        <div class="alert alert-danger mt-2" role="alert">
          <ul class="list-unstyled my-0">
            {% for error in form.ord.errors %}
            <li>{{error}}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="row mb-3">
      <label
        for="{{ form.project_name.id_for_label }}"
        class="form-label fw-bold col-form-label col-sm-2"
        >Name</label
      >
      <div class="col-sm-10">
        {{ form.project_name }}
        {% if form.project_name.errors %}
        <div class="alert alert-danger mt-2" role="alert">
          <ul class="list-unstyled my-0">
            {% for error in form.project_name.errors %}
            <li>{{error}}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="row mb-3">
      <label for="{{ form.status.id_for_label }}" class="col-form-label fw-bold col-sm-2"
        >Status</label
      >
      <div class="col-sm-10">
        {{ form.status }}
        {% if form.status.errors %}
        <div class="alert alert-danger mt-2" role="alert">
          <ul class="list-unstyled my-0">
            {% for error in form.status.errors %}
            <li>{{error}}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}        
      </div>
    </div>
    <div class="row mb-3">
      <label for="{{ form.region.id_for_label }}" class="col-form-label fw-bold col-sm-2"
        >Region</label
      >
      <div class="col-sm-10">
        {{ form.region }}
        {% if form.region.errors %}
        <div class="alert alert-danger mt-2" role="alert">
          <ul class="list-unstyled my-0">
            {% for error in form.region.errors %}
            <li>{{error}}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}           
      </div>
    </div>
    <div class="row mb-3">
        <label for="{{ form.platform.id_for_label }}" class="col-form-label fw-bold col-sm-2"
          >Platform</label
        >
        <div class="col-sm-10">
          {{ form.platform }}
          {% if form.platform.errors %}
          <div class="alert alert-danger mt-2" role="alert">
            <ul class="list-unstyled my-0">
              {% for error in form.platform.errors %}
              <li>{{error}}</li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}                 
        </div>
      </div>
      <div class="row mb-3">
        <label for="{{ form.eta.id_for_label }}" class="col-form-label fw-bold col-sm-2"
          >Test Link ETA</label
        >
        <div class="col-sm-10">
          {{ form.eta }}
          {% if form.eta.errors %}
          <div class="alert alert-danger mt-2" role="alert">
            <ul class="list-unstyled my-0">
              {% for error in form.eta.errors %}
              <li>{{error}}</li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}              
        </div>
      </div>
  </fieldset>

  <fieldset class="my-3 border p-3 rounded">
    <h4>Additional Info</h4>
    <hr/>
    <div class="row mb-3">
        <label for="{{ form.pid.id_for_label }}" class="col-form-label fw-bold col-sm-2"
            >Project ID</label
        >
        <div class="col-sm-10">
            {{ form.pid }}
            {% if form.pid.errors %}
            <div class="alert alert-danger mt-2" role="alert">
              <ul class="list-unstyled my-0">
                {% for error in form.pid.errors %}
                <li>{{error}}</li>
                {% endfor %}
              </ul>
            </div>
            {% endif %}              
        </div>
    </div>
    <div class="row mb-3">
        <label for="{{ form.markets.id_for_label }}" class="col-form-label fw-bold col-sm-2"
            >Markets</label
        >
        <div class="col-sm-10">
          {{ form.markets }}
          {% if form.markets.errors %}
          <div class="alert alert-danger mt-2" role="alert">
            <ul class="list-unstyled my-0">
              {% for error in form.markets.errors %}
              <li>{{error}}</li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}             
        </div>
    </div>
  </fieldset>

  <button type="submit" class="btn btn-primary">Add Project</button>
</form>
{% endblock %}
