{% extends "base.html" %}
{% load static %} 

{% block title %} {{project.ord}} - {{project.project_name}} Project Manager {% endblock %} 
{% block css %} {% static "css/index.css" %} {% endblock %} 
{% block body %}
<header>
    <h4><span class="text-truncate">{{project.ord}} - {{project.project_name}}</span> <span class="badge rounded-pill 
        {% if project.status == "Headsup" %} text-bg-info {% endif %}
        {% if project.status == "Programming" %} text-bg-primary {% endif %}
        {% if project.status == "Changes" or project.status == "LiveChange" %} text-bg-warning {% endif %}
        {% if project.status == "Live" %} text-bg-success {% endif %}
        {% if project.status == "Paused" %} text-bg-secondary {% endif %}
        {% if project.status == "Closed" %} text-bg-danger {% endif %}
      ">{{project.get_status_display|upper}}</span></h4>
</header>

<hr/>

<main class="container">
<div class="d-lg-flex justify-content-between">
    <div class="col-lg-3 p-3 rounded shadow">
        <h5>Summary</h5>
        <hr/>
        <div class="row mt-1">
            <div class="col-sm-4 fw-bold">
                Main SP
            </div>
            <div class="col-sm-8">
                {{creator}}
            </div>
        </div>
        <div class="row mt-1">
            <div class="col-sm-4 fw-bold">
                Region
            </div>
            <div class="col-sm-8">
                {{project.region}}
            </div>
        </div>
        <div class="row mt-1">
            <div class="col-sm-4 fw-bold">
                Platform
            </div>
            <div class="col-sm-8">
                {{project.platform}}
            </div>
        </div>
        <div class="row mt-1">
            <div class="col-sm-4 fw-bold">
                ETA
            </div>
            <div class="col-sm-8">
                {{project.eta}}
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-12">
                <a role="button" class="btn btn-success d-block {% if project.creator != user and not perms.api.change_project %} disabled {% endif %}" href="{% url "projectedit" project.code %}">Edit Project</a>
            </div>
        </div>
           
    </div>
    <form class="col-lg-8 rounded shadow p-3 mt-lg-0 mt-sm-3 mb-3" method="POST">
        {% csrf_token %}
       <h5>Make an update</h5>
       <hr/>
       {{form.message}}
       {% if form.message.errors %}
       <div class="alert alert-danger mt-2" role="alert">
         <ul class="list-unstyled my-0">
           {% for error in form.message.errors %}
           <li>{{error}}</li>
           {% endfor %}
         </ul>
       </div>
       {% endif %}  
       <div class="d-flex mt-2 justify-content-between align-items-center">
        <div>{{ form.update_type }}</div>
        <div class="text-end">
            <button type="submit" class="btn btn-primary">Post Update</button>
        </div>
       </div>
    </form>
</div>
<div class="container mt-4">
    <div class="d-flex mb-4 justify-content-between">
        <h4>Updates</h4>
        {% if pages|length > 1 %}
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item {% if current == 1  %}disabled{%endif%}">
              <a class="page-link" href="{% url "projectall" %}">First</a>
            </li>
            {% if showPrev %} <li class="page-item"><a class="page-link" href="?page={{prev_page}}">Previous</a></li> {% endif %}
            {% for page in pages %}
            <li class="page-item"><a class="page-link {% if current == page %} active {% endif %}" href="?page={{page}}">{{page}}</a></li>
            {% endfor %}
            {% if showNext %} <li class="page-item"><a class="page-link" href="?page={{next_page}}">Next</a></li> {% endif %}
            <li class="page-item">
              <a class="page-link {% if current == last %}disabled{%endif%}" href="?page={{last}}">Last</a>
            </li>
          </ul>
        </nav>
        {% endif %}        
    </div>

    {% if messages %}
    <div class="alert alert-success mb-4" role="alert">      
    {% for message in messages %}
        {{ message }}
    {% endfor %}
    {% endif %}
    </div>
    {% for log in items %}
    <div class="card 
    
    {% if log.update_type == "update" %} text-bg-secondary {% endif %}
    {% if log.update_type == "scripting" %} text-bg-success {% endif %}
    {% if log.update_type == "testlinksent" or log.update_type == "settolivechange" %} text-bg-warning {% endif %}
    {% if log.update_type == "settolive" or log.update_type == "toclosed" %} text-bg-danger {% endif %}
    {% if log.update_type == "paused" or log.update_type == "reopened" or log.update_type == "created" or log.update_type == "edited" %} text-bg-primary {% endif %}

    mb-4">
        <div class="card-header d-flex justify-content-between">
            <div>{{log.get_update_type_display}}</div>
            {% if log.update_type == "update" %}
               {% if log.creator == user or perms.api.delete_projectlog%}
                <form action="{% url "deletelog" %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="logid" value="{{log.id}}" />
                    <button type="submit" class="btn-close" aria-label="Close"></button>
                </form>
                {% endif %}
            {% endif %}
          </div>
        <div class="card-body">            
          <h5 class="card-title">{{log.creator.first_name}} {{log.creator.last_name}} {{ log.get_log_header_display }}</h5>
          {% if log.message %} <p class="card-text">{{log.message|safe}}</p> {% endif %}
        </div>
        <div class="card-footer">
            {{log.created_date}}
        </div>
    </div>  
    {% empty %}
    <h6 class="text-center">Please add updates to this project</h6>
    {% endfor %}
</div>
</main>
{% endblock %}
